# ==========================
# Build / compiled files
# ==========================
# Object files
*.o
*.obj
*.lo
*.slo

# Libraries
*.a
*.lib
*.la
*.lai
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app

# Debug / linker
*.pdb
*.ilk
*.dwo

# Precompiled headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# ==========================
# Python
# ==========================
# Virtual environment
.venv/

# Bytecode
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# ==========================
# Project folders / logs
# ==========================
runs/
logs/
checkpoints/

# ==========================
# Documentation
# ==========================
Doxyfile
html/

# ==========================
# Notes / temporary files
# ==========================
note*